@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700|Amatic+SC:400,700);

body {
  font-family: 'Josefin Sans', sans-serif;
  /*background-color: #55AFE4;*/
  background: url(../images/background.jpeg) center no-repeat fixed;
  background-size: cover;
  -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  font-size: 18px;
  line-height: 1.8;
  color: white;
  text-align: center;
  height: 100vh;
  font-weight: lighter;
}

header {
  /*margin: 0 auto;*/
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 1px solid white;
  padding: 60px;
  border-radius: 3px;
  background: #55AFE4;
}


header img {
  width: 40px;
}

header a {
  text-decoration: none;
}

.instagram img {
  width: 35px;
  margin: 0 0 2px 5px;

}

h1 {
  font-family: 'Amatic SC', sans-serif;
  font-size: 100px;
  line-height: 0.8;
}

h2 {
  font-family: 'Amatic SC', sans-serif;
  font-size: 24px;
}

p {
  margin: 20px;
}

label {
  display:block;
}
input {
  margin: 5px auto;
  width: 80%;
  background: white;
  border: 1px solid white;
  text-align: center;
  color: #55AFE4;
  border-radius: 3px;
  outline: none;
}

::-webkit-input-placeholder {
   color: #55AFE4;
}

:-moz-placeholder { /* Firefox 18- */
   color: #55AFE4;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #55AFE4;
}

:-ms-input-placeholder {
   color: #55AFE4;
}

input[type="submit"] {
  cursor: pointer;
  margin-bottom: 20px;
  background: transparent;
  color: white;
}

@media screen and (max-width: 1111px) {

  body {
    font-size: 16px;
  }

  header {
    width: 65%;
    padding: 50px 20px;
  }

  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 700px) {

  h1 {
    font-size: 60px;
    margin-top: 20px;
  }

  h2 {
    font-size: 18px;
  }

  p {
    line-height: 1.3;
  }

  header {
    width: 80%;
    padding: 15px 10px;
  }

  header img {
    width: 30px;
  }

  .instagram img {
    width: 25px;
  }
}

@media screen and (max-width: 750px) and (max-height: 450px) and (orientation: landscape) {
  body {
    font-size: 15px;

  }

  header {
    width: 90%;
    margin: 40px 0;
  }

  h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 375px) {

  body {
    font-size: 15px;
  }

  header {
    width: 90%;
  }

}

/**
 * iPad with portrait orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){
  body {
    height: 1024px;
  }
}

/**
 * iPad with landscape orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape){
  body {
    height: 768px;
  }
}

/**
 * iPhone 5
 * You can also target devices with aspect ratio.
 */
@media screen and (device-aspect-ratio: 40/71) {
  body {
    height: 500px;
  }
}
